section.news
  h2.news__title #{news.title}
  each article in news.articles
    article.news__article(class=article.main? "news__article--main":nul)
      a.news__article-wrapper(class=article.main? "news__article-wrapper--main":null href=article.href)
        .news__article-picture-wrapper
          img.news__article-picture(src=article.picture.src)
          button.bookmark(type="button" title="Добавить в закладки")
          .overlay
        .news__article-text
          h3.news__article-title #{article.title}
          p.news__article-description #{article.description}

