section.reviews
  h2.title-block #{reviews.title}
  each article in reviews.articles
    article.reviews__review
      a(href=article.href)
        img.reviews__review-picture(src=article.picture.src)
        h3.reviews__review-title #{article.title}
        p.reviews__review-description #{article.description}
      .overlay
      button.bookmark(type="button" title="Добавить в закладки")
  .reviews__pagination-wrapper
    button.reviews__pagination-button.reviews__pagination-button--back(button="button" title="Переход к предыдущим статьям")
    .reviews__pagination-numbers
      each pagination in reviews.pagination
        a.reviews__pagination-number(class=pagination.active? "reviews__pagination-number--active":null href="") #{pagination.number}
    button.reviews__pagination-button.reviews__pagination-button--next(button="button" title="Переход к следующим статьям")
  .reviews__video
    h3.reviews__video-title #{reviews.video.title}
    a.button.reviews__video-link(href=reviews.video.href) #{reviews.video.link}



